<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choix Utilisatuer</title>
</head>
<body>
    <form action="/" method="post">
        <h3>Veuillez selectionnez le mode d'utilisateur : </h3>
        <select>
            <option>Administrateur</option>
            <option>Etudiant</option>
        </select>
        <input type="submit" value="Suivant">
    </form>
</body>
</html>