<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informations etudiant</title>
</head>
<body>
    <h3>Vueillez introduire les informations suivantes : </h3>
    <br>
    <form action="/Etudiant" method="post">
        <h5>Nom : </h5>
        <input type="text" name="nom" id="" placeholder="Nom">
        <h5>Prenom : </h5>
        <input type="text" name="prenom" id="" placeholder="Prenom">
        <h5>Matricule : </h5>
        <input type="text" name="matricule" id="" placeholder="Matricule">
        <h5>Email : </h5>
        <input type="email" name="email" id="" placeholder="Email">
        <h5>Groupe actuel : </h5>
        <input type="number" name="grA" id="" placeholder="Groupe actuel">
        <h5>Groupe voulu : </h5>
        <input type="number" name="grV" id="" placeholder="Groupe voulu">
        <input type="submit" value="Envoyer"> 
        <button type="submit" formaction="/Consultation">Consulter</button>
    </form>  

    
   
    
</body>
</html>