<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informations etudiant</title>
</head>
<body>
    <h3>Vous etes l'admin de cette page  </h3>
    <br>
    <form action="/Admin" method="post">
     
        <button type="submit" formaction="/Consultation">Consulter</button> 
        <button type="submit" formaction="/Permutation">Permuter</button> 

    </form>  