<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Informations etudiant</title>
</head>

<body>
    <h1>Vous etes l'admin de cette page</h1>
    <br>
    <form action="/Admin" method="post">

        <button type="submit" formaction="/Consultation" id="btn">Consulter</button>
        <!-- <button type="submit" formaction="/Permutation" id="btn">Permuter</button> -->
    </form>
    <br>
    <form action="/" method="POST">
        <input type="submit" value="Acceuil" id="btn">
    </form>
</body>

</html>