<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" type="text/css" href="choix.css">

    <title>Choix Utilisatuer</title>
</head>

<body>
    <form action="/" method="POST">
        <h1>Veuillez determiner le mode d'utilisateur : </h1>
        <br>
        <br>
        <br><br>
        <label class="radio">
        <input class="inpt" type="radio" name="admin"> <span id="choice">Administrateur</span>
        </label>
        <br><br><br>
        <label class="radio">
        <input class="inpt" type="radio" name="student"> <span id="choice">Etudiant</span>
        </label>

        <br><br><br><br>
        <input class="button1" type="reset" value="Effacer" id="btn">
        <input class="button1" type="submit" value="Suivant" id="btn">
    </form>
</body>

</html>