<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="dmdev.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Demande envoyer</title>
</head>
<body>
  
  
   
 
   
   <div class="row">
      <img src="./avatar.png" / alt="avatar" class="avatar-img">
           <ul class="main-nav">

             <li><a href="Home.php"><i class="fa fa-home"></i><span> Retourner à la page principale</span> &nbspACCUEIL</a></li>
             <li   class="active"><a href="membres.php"><i class="fa fa-lock"></i><span> Cliquer ici pour vous deconnecter</span> &nbspDECONNEXION</a></li>
             <li><a href="aide.php"><i class="fa fa-question-circle-o"></i><span> Obtenir de l'aide</span> &nbspAIDE</a></li>
             <li><a href="a_propos.php"><i class="fa fa-info-circle"></i><span> Lire à propos de nous</span> &nbspA PROPOS</a></li>
           </ul>
         </div>


            <h1 id="app" class="phrase"> {{message}}</h1>
         <script type="text/javascript">
         	 var app = new Vue({
         el: '#app',
         data: {
             message: 'Demande envoyée '
          }
         })
     </script>
     </body>
     </html>