<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="popupS.css">
    <title>Informations etudiant</title>
</head>

<body>
    <h1>Vueillez introduire les informations suivantes : </h1>
    <br>
    <form action="/etudiant" method="POST">
        <h3>Nom : </h3>
        <input type="text" name="nom" id="" placeholder="Nom" required>
        <h3>Prenom : </h3>
        <input type="text" name="prenom" id="" placeholder="Prenom" required>
        <h3>Matricule : </h3>
        <input type="text" name="matricule" id="" placeholder="Matricule" required>
        <h3>Email : </h3>
        <input type="email" name="email" id="" placeholder="Email" required>
        <h3>Groupe actuel : </h3>
        <input type="number" name="grA" id="" placeholder="Groupe actuel" min="1" max="9" required>
        <h3>Groupe voulu : </h3>
        <input type="number" name="grV" id="" placeholder="Groupe voulu" min="1" max="9" required>
        <br> <br> <br>
        <input type="reset" value="Effacer" id="btn">
        <input type="submit" value="Envoyer" id="btn">
    </form>
</body>

</html>